<footer class="rodape">

    <section class="rodape__secao-formulario">
      
      <div class="rodape__container">

        <!--Limpo- falta os links para as paginas-->
        <!--Informações Sobre a Reserva, Vem Pra Reserva, Minha Conta, Suporte-->
        <div class="rodape__informacoes">

          <!--Limpo - FALTA OS LINKS PARA AS PAGINAS-->
          <!--Sobre nós-->
          <div class="rodape__informacao">
            <p class="rodape__titulo">Sobre nós</p>

            <ul class="rodape__links">
              <li><a href="#">Smart Cartridge</a></li>
              <li><a href="#">Cultura</a></li>
              <li><a href="#">Parceiros</a></li>
            </ul>
          </div>
          <!--Sobre nós-->

          <!--Limpo-->
          <!--Minha conta-->
          <div class="rodape__informacao">
            <p class="rodape__titulo">Minha Conta</p>

            <ul class="rodape__links">
              <li><a href="{% url 'fazer_login' %}">Fazer Login</a></li>
              <li><a href="{% url 'minha_conta' %}">Meu perfil</a></li>
              <li><a href="{% url 'meus_pedidos' %}">Meus Pedidos</a></li>
              <li><a href="{% url 'criar_conta' %}">Criar conta</a></li>
              <li><a href="{% url 'fazer_logout' %}">Sair da conta</a></li>
            </ul>
          </div>
          <!--Minha conta-->

          <!--Limpo - FALTA OS LINKS PARA AS PAGINAS-->
          <!--Suporte-->
          <div class="rodape__informacao">
            <p class="rodape__titulo">Suporte</p>

            <ul class="rodape__links">
              <li><a href="#">Política de Privacidade</a></li>
              <li><a href="#">Termos de Uso</a></li>
              <li><a href="#">Dúvidas Frequentes</a></li>
              <li><a href="#">Trocas e Devoluções</a></li>
            </ul>
          </div>
          <!--Suporte-->

        </div>
        <!--Informações Sobre a Reserva, Vem Pra Reserva, Minha Conta, Suporte-->

        <!--Limpo-->
        <!--Atendimento, atendimento em libras, whatsapp, troca, icones das redes-->
        <div class="rodape__atendimento">
          <p class="rodape__titulo">Atendimento</p>

          <!--Limpo-->
          <!--Atendimento em libras, whatsapp, troca-->
          <div class="rodape__ancoras">
            <a class="rodape__ancora-icone" href="mailto:tinteirosolivais@gmail.com" target="_blank">
              <i class="bi bi-envelope-fill" style="font-size: 2rem;"></i>
              Atendimento via E-mail
            </a>

            <div class="rodape__whatsapp">
              <a class="rodape__ancora-icone" href="https://wa.me/351936343479" target="_blank">
                <i class="bi bi-whatsapp" style="font-size: 2rem;"></i>
                Atendimento via WhatsApp
              </a>

              <p class="rodape__horarios">
                Segunda a Sexta: 10h às 20h<br />Sábados e Domingos: 10h às 18h
              </p>
            </div>

            <a class="rodape__ancora-icone" href="mailto:tinteirosolivais@gmail.com?subject=Pedido%20de%20troca%20-%20Número%20do%20pedido:">
              <i class="bi bi-arrow-repeat" style="font-size: 2rem;"></i>
              Solicite sua troca
            </a>
          </div>
          <!--Atendimento em libras, whatsapp, troca-->

          <!--Limpo-->
          <!--Icones das redes-->
          <div class="rodape__redes">

            <!--Facebook-->
            <a href="https://www.facebook.com/smartcartridgeolivaisoficial" class="rodape__rede" target="_blank">
              <i class="bi bi-facebook" style="font-size: 2rem; color: #1877F2;"></i>
            </a>

            <!--Instagram-->
            <a href="https://www.instagram.com/quiosque_olivais/" class="rodape__rede" target="_blank">
              <i class="bi bi-instagram" style="font-size: 2rem; color: #E4405F;"></i>
            </a>

            <!--Youtube-->
            <a href="https://youtube.com/" class="rodape__rede" target="_blank"> 
              <i class="bi bi-youtube" style="font-size: 2rem; color: red;"></i>
            </a>

            <!--Twitter-->
            <a href="https://twitter.com/" class="rodape__rede" target="_blank">
              <i class="bi bi-twitter" style="font-size: 2rem; color: #1DA1F2;"></i>
            </a>

            <!--Linkedin-->
            <a href="https://linkedin.com/" class="rodape__rede" target="_blank">
              <i class="bi bi-linkedin" style="font-size: 2rem; color: #0077B5;"></i>
            </a>

          </div>
          <!--Icones das redes-->


        </div>
        <!--Atendimento, atendimento em libras, whatsapp, troca, icones das redes-->

      </div>
    </section>

    <section class="rodape__secao-empresa">
      <p>
        TABELALIMITE UNIPESSOAL LDA | NIPC: 513117539 | PRAÇA DE ALVALADE C C ALVALADE QUIOSQUE 2 N 6B LISBOA, 1700-036 LISBOA, PORTUGAL | SITE CONSTRUIDO POR JONATHAN VENANCIO
      </p>
    </section>
</footer>